.card-time-location {
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: monospace;
  font-size: 14px;
}
.card-content-container {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  text-align: center;
  font-size: 25px;
  font-family: monospace;
}

.left-border {
  border-left: 1px solid #3c3c3f;
}

.card-info {
  align-items: center;
  text-align: center;
  display: flex;
  font-size: 12px;
}

.card-icon {
  height: 20px;
  width: 20px;
  padding-right: 10px;
  white-space: nowrap;
}

.card-margin {
  margin: 30px
}

.card-border {
  border-top: 1px solid #3c3c3f
}